@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Cs_Plantlover.Models.LeaveMessenger
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plantlover">
    <meta name="keywords" content="Plantlover, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cs_Plantlover</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/1LayoutPlantlover/img/PlantloverIcon.ico" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/1LayoutPlantlover/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/1LayoutPlantlover/img/logo.png" alt="" style="max-width: 200px; max-height: 100px;margin-left:50px;"></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>

            </ul>
            @await Component.InvokeAsync("CartWidget")
            <div class="header__cart__price">item: <span>0đ</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <div>Việt Nam</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Việt Nam</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i>Logout</a>
                @* <a href="#"><i class="fa fa-user"></i> Đăng nhập</a> *@
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="https://localhost:7216/">Trang chủ</a></li>
                <li><a asp-area="Customer" asp-controller="ShopGrid" asp-action="Index">Cửa hàng</a></li>
                <li>
                    <a>Trang</a>
                    <ul class="header__menu__dropdown">
                        <li><a asp-area="Customer" asp-controller="Cart" asp-action="AddToCart">Giỏ Hàng</a></li>
                        <li><a asp-area="Customer" asp-controller="CheckOut" asp-action="Index">Thủ Tục Thanh Toán</a></li>
                        <li><a asp-area="Customer" asp-controller="Order" asp-action="Index">Đơn Hàng</a></li>
                    </ul>
                </li>
                <li><a asp-area="Customer" asp-controller="Blog" asp-action="Index">Blog</a></li>
                <li><a asp-area="Customer" asp-controller="Contact" asp-action="Index">Liên Hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope" id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></i>Hello @UserManager.GetUserName(User)!</li>
                <li>Giao hàng miễn phí cho tất cả đơn hàng từ 1 triệu VNĐ</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope" id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></i>Hello @UserManager.GetUserName(User)!</li>
                                @* <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a> *@
                                <li>Hỗ trợ miễn phí ship cho tất cả đơn hàng từ 1 triệu đồng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="~/1LayoutPlantlover/img/vietnam1.png" alt="">
                                <div>Việt Nam</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Việt Nam</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">

                                <partial name="_LoginPartial"></partial>
                                @* <a href="#"><i class="fa fa-user"></i> Đăng Nhập</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo ">
                        <a href="https://localhost:7216/"><img src="~/1LayoutPlantlover/img/logo.png" alt="" style="max-width: 250px; max-height: 150px; margin-left:50px;"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="https://localhost:7216/">Trang Chủ</a></li>
                            <li><a asp-area="Customer" asp-controller="ShopGrid" asp-action="Index">Cửa hàng</a></li>
                            <li>
                                <a>Trang</a>
                                <ul class="header__menu__dropdown">
                                    <li><a asp-area="Customer" asp-controller="Cart" asp-action="Index">Giỏ Hàng</a></li>
                                    <li><a asp-area="Customer" asp-controller="CheckOut" asp-action="Index">Thủ Tục Thanh Toán</a></li>
                                    <li><a asp-area="Customer" asp-controller="Order" asp-action="Index">Đơn Hàng</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="Customer" asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li><a asp-area="Customer" asp-controller="Contact" asp-action="Index">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                        </ul>
                        @await Component.InvokeAsync("CartWidget")
                        <div class="header__cart__price">item: <span>0đ</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("ChucNangSPMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-controller="Home" asp-action="Search">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" name="keywords" placeholder="Bạn cần tìm kiếm loại cây gì?">
                                <button type="submit" class="site-btn">Tìm Kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 33.789.789</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    @RenderBody()
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>
            <form asp-action="Contact" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control"/>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Messenger"class="control-label"></label>
                <textarea id="MoTa" asp-for="Messenger"name="Messenger"placeholder="Messenger"></textarea>
                <span asp-validation-for="Messenger"class="text-danger"></span>
            </div>
            <div class="form-group">
               <input type="submit" value="Create" class="site-btn" />
            </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="https://localhost:7216/"><img src="~/1LayoutPlantlover/img/logo.png" alt="" style="max-width: 250px; max-height: 150px; margin-left:20px;"></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 82, Đường Sư Vạn Hạnh, TP.Hồ Chí Minh</li>
                            <li>Phone: +84 33.789.789</li>
                            <li>Email: plantlover@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Tất Cả Các Liên Kết Hữu Ích</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Về cửa hàng</a></li>
                            <li><a href="#">Mua sắm an toàn</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng ta là ai</a></li>
                            <li><a href="#">Dịch vụ</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Sự đổi mới</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham Gia Tin Tức Của Chúng Tôi Ngay Bây Giờ</h6>
                        <p>Nhận thông tin cập nhật qua Email về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit" class="site-btn">Đăng Ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/CaoAnhVu" target="_blank">AndyVu Coder</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/1LayoutPlantlover/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/1LayoutPlantlover/js/jquery-3.3.1.min.js"></script>
    <script src="~/1LayoutPlantlover/js/bootstrap.min.js"></script>
    <script src="~/1LayoutPlantlover/js/jquery.nice-select.min.js"></script>
    <script src="~/1LayoutPlantlover/js/jquery-ui.min.js"></script>
    <script src="~/1LayoutPlantlover/js/jquery.slicknav.js"></script>
    <script src="~/1LayoutPlantlover/js/mixitup.min.js"></script>
    <script src="~/1LayoutPlantlover/js/owl.carousel.min.js"></script>
    <script src="~/1LayoutPlantlover/js/main.js"></script>



</body>

</html>

<script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#MoTa'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>