@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">
        
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
        @* <li class="menu-item">
            <a href="#">Account</a>
            <ul class="header__menu__dropdown">
                <li><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                <li><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            </ul>
        </li> *@
        <div class="header__top__right__language">
            <div>Account</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a  id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                <li><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            </ul>
        </div>

    
}
</ul>
