
@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutShopGrid.cshtml";

}

    
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DanhMucSP>

@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)

}
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { machucnang = ViewBag.machucnang , page = page }))
</div> 


