@model IEnumerable<ChucNangSP>
<div class="col-lg-3 col-md-5">
    <div class="sidebar">
        <div class="sidebar__item">
            <h4>Danh Mục Sản Phẩm</h4>
            <ul>
                @foreach (var item in Model)
                {
                    <li><a asp-area="Customer" asp-controller="ShopGrid" asp-action="SanPhamTheoLoai" asp-route-machucnang="@item.MaChucNang">@item.TenChucNang</a></li>
                }
            </ul>
        </div>
        <div class="sidebar__item">
            <h4>Price</h4>
            <div class="price-range-wrap">
                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                     data-min="10" data-max="540">
                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
                <div class="range-slider">
                    <div class="price-input">
                        <input type="text" id="minamount">
                        <input type="text" id="maxamount">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sidebar__item">
            <h4>Popular Size</h4>
            <div class="sidebar__item__size">
                <label for="large">
                    Large
                    <input type="radio" id="large">
                </label>
            </div>
            <div class="sidebar__item__size">
                <label for="medium">
                    Medium
                    <input type="radio" id="medium">
                </label>
            </div>
            <div class="sidebar__item__size">
                <label for="small">
                    Small
                    <input type="radio" id="small">
                </label>
            </div>
            <div class="sidebar__item__size">
                <label for="tiny">
                    Tiny
                    <input type="radio" id="tiny">
                </label>
            </div>
        </div>
        <div class="sidebar__item">
            <div class="latest-product__text">
                <h4>Sản phẩm mới </h4>
                <div class="latest-product__slider owl-carousel">
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="~/1LayoutPlantlover/img/latest-product/cayphatdu.jpg" alt="" />
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Cây Phất Dụ</h6>
                                <span>350000.00 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="~/1LayoutPlantlover/img/latest-product/caythuytung.jpg" alt="" />
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Cây Thủy Tùng</h6>
                                <span>169000.00 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="~/1LayoutPlantlover/img/latest-product/cayhongmon.jpg" alt="" />
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Cây hồng môn</h6>
                                <span>139000.00 VNĐ</span>
                            </div>
                        </a>
                    </div>
                    <div class="latest-prdouct__slider__item">
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="~/1LayoutPlantlover/img/latest-product/caytraubadevuongxanhthuysinh.jpg" alt="" />
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Cây Trầu Bà Đế Vương Thủy Sinh</h6>
                                <span>129000.00 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="~/1LayoutPlantlover/img/latest-product/caytocthan.jpeg" alt="" />
                            </div>
                            <div class="latest-product__item__text">
                                <h6>Cây Tóc Thần Vệ Nữ</h6>
                                <span>150000.00 VNĐ</span>
                            </div>
                        </a>
                        <a href="#" class="latest-product__item">
                            <div class="latest-product__item__pic">
                                <img src="~/1LayoutPlantlover/img/latest-product/cayhoanghau.jpg" alt="" />
                            </div>
                            <div class="latest-product__item__text">
                                <h6>
                                    Cây Hoàng Hậu
                                </h6>
                                <span>269000.00 VNĐ</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>