
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="hero__item set-bg" data-setbg="/LayoutAdmin/assets/images/banner1.png">
   @*  <div class="hero__text">
        <span>Không Gian Xanh</span>
        <h2>PLANTLOVER <br />Mang Không Gian Đến Bên Bạn</h2>
        <p>Sẵn Sàng Nhận Và Giao Hàng Miễn Phí</p>
        <a href="#" class="primary-btn">Khám Phá Ngay</a>
    </div> *@
</div>

