@model Cs_Plantlover.ViewModels.BlogDetailVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutBlogDetail.cshtml";
}
@{
    int numOfQuantity = 1;
    var currentUrl = Context.Request.Path + Context.Request.QueryString;
}
<div class="col-lg-8 col-md-7 order-md-1 order-1">
    <div class="blog__details__text">
        @* <img src="@Model.blogDetail.HinhAnh " alt="" > *@
        <p >@Html.Raw(Model.blogDetail.Description)</p>
    </div>
    <div class="blog__details__content">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog__details__author">
                    <div class="blog__details__author__pic">
                        <img src="/1LayoutPlantlover/img/blog/details/details-author.jpg" alt="">
                    </div>
                    <div class="blog__details__author__text">
                        <h6>Cao Anh Vũ</h6>
                        <span>Admin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog__details__widget">
                    <ul>
                        <li><span>Categories:</span>Cây để bàn, cây phong thủy, cây hợp tuổi, cây văn phòng,...</li>
                        
                    </ul>
                    <div class="blog__details__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

